<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp3350.pbbs">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.updateObject.updateTransaction"></activity>
        <activity android:name=".presentation.updateObject.updateCard" />
        <activity android:name=".presentation.updateObject.updateBudgetCategory" />
        <activity android:name=".presentation.addObject.addCard" />
        <activity android:name=".presentation.addObject.addBudgetCategory" />
        <activity android:name=".presentation.viewObject.ViewBudgetCategory" />
        <activity android:name=".presentation.firstTimeGreeting" />
        <activity android:name=".presentation.addObject.addTransaction" />
        <activity android:name=".presentation.MainActivity" />
        <activity android:name=".presentation.Auth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>